server:
  port: 8080

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/vue_admin_template
        username: root
        password: wwwcodcom
        driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapping/*.xml     #mapper文件路径
  type-aliases-package: com.moerlong.yj.model   #实体类的包路径

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
